@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #424141;
  --fill-color: rgb(248, 246, 246);
  --food--color: #f7b934;
  --text-color: #8d8787;
  --border: #5b5959;
  --rounded: 5px;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  background: var(--bg-primary-color);
  color: var(--text-color);
  font-family: "play", sans-serif;
}

main,
section {
  height: 100%;
  width: 100%;
}

section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 10px 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.board {
  flex-grow: 1;
  display: grid;
  border: 1px solid var(--border);
}

.block {
  height: 30px;
  width: 30px;
  font-size: 10px;
  border-radius: 100%;
}

.fill {
  background-color: var(--fill-color);
}

.food {
  background-color: var(--food--color);
}

.model-start-game,
.model-game-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000a0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-start-game .container {
  width: 400px;
  height: 300px;
  background-color: rgba(161, 157, 157, 0.226);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded);
}

.model-game-over .container {
  width: 400px;
  height: 300px;
  background-color: rgba(161, 157, 157, 0.226);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded);
}

.model-start-game .container p {
  font-size: 20px;
  padding: 2px;
}

.model-game-over .container p {
  font-size: 20px;
  padding: 2px;
}

.model-start-game .container button {
  background: #d1cece;
  margin-top: 20px;
  padding: 10px 60px;
  font: 100;
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in-out;
}

.model-game-over .container button {
  background: #d1cece;
  margin-top: 20px;
  padding: 10px 60px;
  font: 100;
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in-out;
}

#start:hover {
  transform: scale(1.2);
  background: #f7b934;
}

#restart:hover {
  transform: scale(1.2);
  background: #f7b934;
}
